<div class="modal-header">
  <h2>Weather Details</h2>
</div>

<div class="modal-content">
  <p><strong>Station Name:</strong> {{ data.station.name }}</p>
  <p><strong>Latitude:</strong> {{ data.station.label_location.latitude }}</p>
  <p><strong>Longitude:</strong> {{ data.station.label_location.longitude }}</p>
  <p><strong>Temperature Max:</strong> {{ data.weatherData.daily.temperature_2m_max[0] }} °C</p>
  <p><strong>Temperature Min:</strong> {{ data.weatherData.daily.temperature_2m_min[0] }} °C</p>

  <!-- Mini Map Container -->
  <div id="mini-map" style="height: 200px; width: 100%;"></div>
</div>

<div class="modal-actions">
  <button mat-button (click)="close()">Close</button>
</div>
