mat-dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  mat-dialog-content {
    margin: 10px 0;
    p {
      font-size: 1rem;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    button {
      margin-top: 10px;
    }
  }
  