#map {
    height: 600px;
    width: 100%;
  }
  ::ng-deep .leaflet-marker-icon {
    width: 15px !important; /* Smaller width */
    height: 22px !important; /* Smaller height */
    margin-left: -7.5px; /* Adjust for centering horizontally */
    margin-top: -22px; /* Adjust for centering vertically */
  }
  
  ::ng-deep .leaflet-marker-shadow {
    width: 22px !important; /* Match shadow size to the icon */
    height: 22px !important;
  }
  
  .custom-tooltip {
    background: none; /* Remove default Leaflet styles */
    border: none;
    box-shadow: none;
  }
  
  .tooltip-box {
    background-color: white; /* Tooltip background color */
    color: black; /* Tooltip text color */
    border: 1px solid #ccc; /* Tooltip border */
    border-radius: 4px; /* Rounded corners */
    padding: 5px 10px; /* Padding inside the tooltip */
    font-size: 12px; /* Adjust font size */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for better appearance */
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
  }

  .error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 8px;
  }
  
  
